# Local Docker: use only DATABASE_URL
# DATABASE_URL="postgresql://agenda:agenda123@localhost:5433/agenda_fiscal?schema=public"

# Supabase (recomendado): pooler IPv4
# Transaction pooler (app)
DATABASE_URL="postgresql://postgres.SEU_PROJECT_REF:SUA_SENHA@aws-0-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"
# Session pooler (Prisma migrate)
DIRECT_URL="postgresql://postgres.SEU_PROJECT_REF:SUA_SENHA@aws-0-us-west-2.pooler.supabase.com:5432/postgres?schema=public"

PORT=3001
JWT_SECRET="troque-este-segredo-em-producao"
TZ=America/Sao_Paulo
